@using Domain.Entities
@using Microsoft.AspNetCore.Http.Extensions
@model IEnumerable<Route>

@{
    ViewBag.Title = "Найденные маршруты";
}

@foreach (var p in @Model)
{
    <div>
        <h3>@p.DepartureName</h3>
        <p>@p.DestinationName</p>

        <!--кнопка "добавить в корзину"-->
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="pull-right">
                <input type="hidden" name="Id" value=@p.Id/>
                @Html.Hidden("returnUrl", @Context.Request.GetDisplayUrl())
                <input type="submit" class="btn btn-success" value="Добавить в корзину" />
            </div>
        }
    </div>
}


@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

