@using Domain.Entities
@model IEnumerable<Route>

@{
    ViewBag.Title = "Маршруты";
}

@foreach (var p in @Model)
{
    <div>
        <h3>@p.DepartureName</h3>
        <p>@p.DestinationName</p>
    </div>
}


@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

