<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Минский автовокзал</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Минские автобусы</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Корзина заказов</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Личный кабинет</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <!-- <img class="mb-2" src="" alt="" width="24" height="24"> -->
        <small class="d-block mb-3 text-muted">г. Минск, ул. Бобруйская</small>
        <small class="d-block mb-3 text-muted">2020 - Минский автовокзал</small>
      </div>
      <div class="col-6 col-md">
        <h5>Автобусные вокзалы:</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Минск</a></li>
          <li><a class="text-muted" href="#">Брест</a></li>
          <li><a class="text-muted" href="#">Витебск</a></li>
          <li><a class="text-muted" href="#">Гомель</a></li>
          <li><a class="text-muted" href="#">Гродно</a></li>
          <li><a class="text-muted" href="#">Могилев</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Ресурсы</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Поддержка лиц с ограниченными физическими возможностями</a></li>
          <li><a class="text-muted" href="#">Пункты продажи билетов</a></li>
          <li><a class="text-muted" href="#">Календарь пассажира</a></li>
          <li><a class="text-muted" href="#">Скидки и специальные предложения</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Телефоны</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="tel:+375293861535">+375 29 386-15-35</a> Контакт-центр</li>
          <li><a class="text-muted" href="tel:+375441111313">+375 44 111-13-13</a> Служба поддержки пассажиров</li>
        </ul>
      </div>
    </div>
  </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
