@model Domain.Entities.Route

@{
    ViewData["Title"] = "Main";
}
<div>
<h1>Минский автовокзал онлайн</h1>
<p>Теперь Вы можете покупать билеты не выходя из дома</p>

<input type="datetime" атрибуты>

<div id="search-part">
    @using (Html.BeginForm("GetRoutesByNamesAndDate", "Route", FormMethod.Get))
    {
        <p>Откуда: @Html.TextBox("departureName", "Минск")</p>
        <p>Куда: @Html.TextBox("destinationName", "Витебск")</p>
        <p>Дата: @Html.TextBoxFor(model => model.Start, new { @type="date", @class = "form-control datepicker",  @Value = Model.Start.ToString("yyyy-MM-dd") } ) </p>

        <input type="submit" value="Поиск"/>             
    }

</div>

</div>